.PersonalAccount {
    align-items: center;
}

.userpick {
    margin-right: 13px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.username {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray99);
}

@media (max-width: 560px) {
    .username {
        display: none;
    }

    .userpick {
        margin-right: 0;
    }
}

@media (max-width: 450px) {

    .userpick,
    .userpick svg {
        width: 30px;
        height: 30px;
    } 
}