.CardMetaData {
    display: flex;
    align-items: center;
}

.inModal {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.inModal .userLink {
    margin-right: 5px;
}

.publishedAt {
    margin-right: 6px;
    color: var(--gray99);
}

.publishedAt span {
    color: var(--gray99);
}

.userLink {
    display: flex;
    align-items: center;
}

.userLink img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.userLink a {
    color: var(--orange);
}

@media (max-width: 700px) {
    .CardMetaData {
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-bottom: 7px;
    }

    .userLink {
        margin-right: 6px;
    }

    .userLink a {
        font-size: 10px;
    }

    .publishedAt {
        font-size: 10px;
    }

    .publishedAt span {
        display: none;
    }
}