.TextContent {
    padding-left: 39px;
    padding-top: 31px;
}

.metaData {
    display: flex;
    align-items: center;
}

.publishedAt {
    margin-right: 6px;
    color: var(--gray99);
}

.userLink {
    display: flex;
    align-items: center;
}

.userLink img {
    margin-right: 8px;
    width: 20px;
}

.userLink a {
    color: var(--orange);
}

.title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: normal;
}