.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 73px 0 60px;
}

.header div {
    display: flex;
}

@media  (max-width: 1100px) {
    .header {
        padding: 40px;
    }
}

@media  (max-width: 950px) {
    .header {
        padding: 20px 40px;
    }

    .headerLeft {
        display: flex;
        flex-direction: column;
    }
}


@media  (max-width: 800px) {
    .header {
        padding: 0;
        flex-direction: column-reverse;
    }

    .headerRight {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        padding: 20px 30px;
        background-color: var(--white);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 7px 7px;
    }

    .headerLeft {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px 0 15px;
    }
}

@media  (max-width: 560px) {
    .headerRight {
        padding: 20px;
    }
}


@media  (max-width: 450px) {
    .headerRight {
        padding: 14px 20px;
    }
}