.Post {
    position: fixed;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
}

.PostContent {
    position: relative;
    width: 100%;
    max-width: 960px;
    padding: 52px 27px 37px 60px;
    border-radius: 7px;
    background: var(--white);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.modalTitle {
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
}

.postHeaderWrapper {
    display: flex;
}

.PostHeader {
    display: flex;
    margin-bottom: 40px;
}

.PostHeaderRight {
    margin-left: 20px;
}

.PostImg {
    max-width: 100%;
    margin-bottom: 50px;
}

.closeBtn {
    display: none;
}


@media  (max-width: 1100px) {

    .PostHeader {
        justify-content: space-between;
    }
    .closeBtn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media  (max-width: 560px) {
    .Post {
        top: 0;
    }

    .PostContent {
        padding: 30px;
    }

    .modalTitle {
        font-size: 16px;
        line-height: 19px;
    }

    .PostHeader {
        margin-bottom: 20px;
    }
}