.CardsList {
    padding: 67px 0;
}

@media (max-width: 1100px) {
    .CardsList {
        padding: 41px 37px 41px 40px;
    }
}

@media (max-width: 800px) {
    .CardsList {
        padding: 30px;
    }
}

@media (max-width: 700px) {
    .CardsList {
        padding: 0;
    }
}
