.Login {
    padding: 50px;
    text-align: center;
}

.text {
    margin-bottom: 20px;
    font-size: 16px;
}

.link {
    color: var(--orange);
    font-size: 22px;
}

.link:hover {
    color: #8f3f13;
}