@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


:root {
    --black: #333;
    --orange: #CC6633;
    --green: #A4CC33;
    --whiteLightness: 100%;
    --white: hsl(0, 0%, var(--whiteLightness));
    --grayF4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
    --grayF3: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
    --grayD9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
    --grayC4: hsl(0, 0%, calc(var(--whiteLightness) - 23%));
    --gray99: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
    --gray66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
    --grayEC: #ECECEC;

}

body {
    padding: 0;
    margin: 0;
    background-color: var(--grayF4);
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', serif;
}

* {
    color: var(--black);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

h1, h2, h3 {
    margin: 0;
}