.Card {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-left: 48px;
    padding-right: 67px;
    background-color: var(--white);
    border-radius: 7px;
}

.cardOptions {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
}

@media (max-width: 1100px) {
    .Card {
       padding: 0;
    }

    .cardOptions {
        flex-shrink: 0;
    }
}

@media (max-width: 700px) {
    .Card {
        flex-direction: column-reverse;
        padding-top: 22px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }


    .cardOptions {
        position: unset;
    }

    .dropdownMenuWrapper {
        position: absolute;
        top: 19px;
        right: 14px;
    }

    /*.cardOptions {*/
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*    left: 0;*/
    /*    right: 0;*/

    /*}*/

    /* .Card > * {
        flex: 1 1 100%;
    } */
}