
.wrapper {
    display: flex;
    max-width: 100%;
}

.textContent {
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 22px;
}

.line {
    margin-top: 20px;
    width: 3px;
    height: 100%;
    background-color: var(--grayD9);
}

.commentText {
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 13px;
    line-height: 22px;
}