.ThreadTitle {
    margin-right: 28px;
    font-size: 28px;
    line-height: 37px;
}

@media (max-width: 800px) {
    .ThreadTitle {
        padding-left: 20px;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 23px;
    }
}